body,
html,
*{
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    flex-wrap: wrap;
    background-color: rgb(6, 203, 6);
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
 
}
.card{
    width:30rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
@media screen and (max-width: 800px) {
    .container{
        animation-name: screen;
        animation-duration: 5s;
        0% {background-color: red;}
        25% {background-color: orange;}
        50% {background-color: blue;}
        100% {background-color: green;}

        
    }
}
.container{
    display: flex;
    width: 90vw;
    margin: 2rem, auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.card-img{
    display: flex;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    box-shadow: 10px 8px rgb(24, 81, 90);
    
}
.card-header{
    font-size: 2.2rem;
    margin-top: 1.2rem;

}
.card-desc{
    box-shadow: 10px 5px gray;
}

#img1{
    height: 20vw;
    width: 30vw;

}
#img2{
    flex-direction: row;
    height: 20vw;
    width: 10vw;
    
}
#img3{
    height: 20vw;
    width: 10vw;

}
#img4{
    height: 20vw;
    width: 20vw;
}
#img5{

}
#img6{
    height: 10vw;
    width:20vw;
    position: relative;
    
}

#img1:hover{
    transition: 1s;
    transform: translate(20px, 0px);
}
#img2:hover{
    transition: 2s;
    transform: rotate(360deg);
}
#img3:hover{
    transition: 0.5s;
    box-shadow: none;

}
#img4:hover{
    transition: 1s;
    transform: scale(1.1, 1.1);
}
#img5:hover{
    transition: 1s;
    height: 15vw;
}
