body,
html,
*{
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    flex-wrap: wrap;
    background-color: rgb(6, 203, 6);
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}
.card{
    width: 40rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    

}
@media screen and (max-width: 800px){
    .card{
        height: auto;
        width: auto;
    }
}
.container{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   
    align-items: center;
    animation-name: screen;
    animation-duration: 5s;
    
}

.card-img{
    display: flex;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    align-items: center;
    flex-wrap: wrap;
    
    box-shadow: 10px 8px rgb(24, 81, 90);
    
    
}
.card-header{
    font-size: 2.2rem;
    margin-top: 1.2rem;

}

#img1{
    height: 20vw;
    width: 20vw;

}
#img2{
    height: 20vw;
    width: 10vw;
    
}
#img3{
    height: 20vw;
    width: 10vw;

}
#img4{
    height: 20vw;
    width: 20vw;
}

#img6{
    height: 10vw;
    width: 15vw;
    
}

#img1:hover{
    transition: 1s;
    transform: translate(20px, 0px);
}
#img2:hover{
    transition: 2s;
    transform: rotate(360deg);
}
#img3:hover{
    transition: 0.5s;
    box-shadow: none;

}
#img4:hover{
    transition: 1s;
    transform: scale(1.1, 1.1);
}
#img5:hover{
    transition: 1s;
    height: 15vw;
}
@keyframes animation {

}
